    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <header>
        <nav>
            <ul>
                <% if(!user) { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                <% } else { %>
                    <li><a href="/profile">Profile</a></li>
                <% } %>
                <li><a href="/statistics">Statistics</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>