<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <%- include("partials/header") %>
    about page!

    This is to be done by u khushee!
</body>
<script src="js/about.js"></script>
</html>